name: Pinup Test Analysis

on:
  workflow_dispatch:      # 수동 실행 버튼용
  schedule:
    - cron: '0 8 * * 1-5'  # 매일 오후 5시 (KST)

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install pandas FinanceDataReader requests beautifulsoup4 lxml selenium webdriver-manager

      - name: Run Pinup Analysis
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: python pinup.py  # 여기서 핀업을 바로 실행합니다.
