name: Finup Capture Automation

on:
  schedule:
    # 한국 시간 오후 5:00 (UTC 오전 8:00) / 월-금 실행
    - cron: '0 8 * * 1-5'
  workflow_dispatch: # 수동 실행 버튼

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install selenium webdriver-manager requests finance-datareader pandas

      - name: Run script
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: python start.py
