name: Stock Analysis Workflow

on:
  workflow_dispatch:
  schedule:
    - cron: '30 8 * * *'  # UTC 09:30 -> 한국 시간(KST) 18:30 (오후 6시 30분)

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas requests beautifulsoup4 lxml selenium webdriver-manager
          pip install -U finance-datareader

      - name: Step 1 - Analysis
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: python start.py

      - name: Step 2 - Pinup
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: python pinup.py
